* {
    box-sizing: border-box;
}

.page {
    /* height: 100%; */
    display: grid;
    grid-auto-flow: row;
    /* min-height: 100vh; */
    min-width: 100vh;
}

#main {
    /* height: 100%; */
    display: grid;
    grid-auto-flow: row;
    /* min-height: 100vh; */
    min-width: 100vh;
    position: relative;
}

#players {
    display: grid;
    /* grid-template-columns: 20% 60% 20%; */
    column-gap: 20px;
    row-gap: 20px;
    background-color: rgb(143, 189, 250);
}

#players .head {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

#players .player_list_line,
.player-list-new {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: larger;
    font-weight: bolder;
    padding-block: 20px;
    border: 1px solid cadetblue;
    border-radius: 50px;
    background-color: aquamarine;
    text-align: center;

}

#start {
    background-color: #d5d6f1;
    border-width: 2px;

    min-height: 15vh;
    padding: 2em;
    text-align: center;
}

header {
    background-color: beige;
    min-height: 15vh;
    padding: 2em;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

footer {
    background-color: rgb(177, 216, 146);
    min-height: 10vh;
    padding: 2em;
    text-align: center;
    font-size: small;
}